:root {
    --font-footer: #949499;
    --background-footer: #fff;
    --topborder-footer: #949499;
    --socialicon-footer: 0.4;
    --socialicon-hover-footer: 0.2;
    --logofilter-footer: grayscale(50%);
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 13px;
}

article {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
article section {
	max-width: 100%;
	margin-bottom: 6px;
	margin-top: 6px;
}

article section#domains {
	width: 470px;
}

article section#domains section {
	border: 1px solid #bebebe;
	background: #fafafa;
	margin-bottom: 10px;
}
article section#domains section div {
	padding: 5px;
}

article section#domains section div.header {
	padding: 8px 0 12px 18px;
	width: inherit;
	background-color: #38ada9;
	color: #fff;
}

article section#domains section div.header h1 {
	font-size: 1.4rem;
}

article section#domains section div.header h1 a {
	color: #fff;
}

article section#domains section div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

article section#domains section div span.header_item,
article section#main_section div span.backup_item,
article section#main_section details,
span.list_element {
	margin: 6px 27px 0 17px;
}

article section#domains section div.third_header span.header_item {
	margin-right: 0;
}

article section#main {
	width: 1000px;
}

article section#databases {
	width: 300px;
}

a {
	text-decoration: none;
	color: #38ada9;
}

.prohibited_link {
	color: #224545;
	cursor: no-drop;
	transition: all 500ms ease-in-out;
}

.prohibited_link:hover {
	text-decoration: line-through;
}

form {
	padding: 19px;
	background-color: #7ed6df;
	border-radius: 1.5px;
	max-width: max-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form.unset {
	padding: 0;
	background-color: unset;
	border-radius: unset;
	display: unset;
	margin: 0;
}

form.db_logout {
	position: relative;
	top: -55px;
	left: 95px;
}

form#newsubdomain {
	max-width: 100%;
}

label {
	display: block;
}

label[for="inputRedirect"] {
	cursor: pointer;
}

input,
button {
	padding: 8px 6px 8px 4px;
	border: 2px solid #95afc0;
	border-radius: 1.5px;
	margin: 5px;
}
input[type=text],
input[type=email] {
	width: 100%;
}

button {
	border: none;
	border-radius: 1px;
	background-color: #fafafa;
	color: #323232;
	cursor: pointer;
	font-size: 1.1rem;
}

code {
	color: #fff;
	font-family: Source Code Pro, Consolas, Inconsolata-g, Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #272822;
	border: solid 0.5px #272822;
	border-radius: 1px;
	display: block;
	padding: 5px 5px 5px 5px;
}

details.database_details form input {
	width: unset;
}

details.database_details,
details.config_password_details {
	color: #38ada9;
	cursor: pointer;
}

details.database_details summary,
details.config_password_details summary {
	margin-bottom: 8px;
}

details.database_details form:first-of-type,
details.config_password_details form {
	padding: 12px;
}

.message {
    margin: 15px 10px;;
    padding: 10px;
    background-color: #3f7878;
    color: #ffffff;
    border-radius: 1.5px;
		font-size: 1.3rem;
		max-width: max-content;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.777rem;
    color: var(--font-footer);
    line-height: 1.4;
    position: relative;
    padding-bottom: 15px;
    margin-top: 25px;
    background-color: var(--background-footer);
    border-top: 4px solid var(--topborder-footer);
}

footer > img {
    filter: var(--logofilter-footer);
    display: block;
    max-height: 100px;
    margin: 30px auto;
    max-width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
}

footer section {
    margin-right: auto;
    margin-left: auto;
    padding-left;
    15px;
    padding-right: 15px;
    max-width: 1230px;


}

footer > section > aside {
    text-align: right;
}

footer > section > aside img {
    opacity: var(--socialicon-footer);
}

footer > section > aside img:hover {
    opacity: var(--socialicon-header-footer);
}

footer > section > nav {
    margin-left: -15px;
    margin-right: -15px;
}

footer > section > aside:nth-child(3) {
    clear: both;
}

footer > section > aside:nth-child(3) > div {
    float: right;
    text-align: left;
}

footer > section > aside:nth-child(3) > address {
    float: left;
    text-align: right;
}

footer > section > nav > section {
    padding: 0;
    width: 41.66667%;
    float: left;
    position: relative;
    min-height: 1px;
}

footer > section > nav > section:nth-child(2) {
    padding: 0;
    width: 41.66667%;
    margin-left: 16.66667%;
    float: left;
    position: relative;
    text-align: right;
}

footer section aside address p {
    font-size: 0.8em;
}

footer section nav section ul {
    margin-left: 15px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

}

footer section nav section ul li {
    margin-right: 15px;
    margin-bottom: 0px;
    margin-bottom: 15px;
    font-size: 1em;
}

footer section nav section ul li a {
    font-weight: bold;
    font-size: 1.2em;
    transition: all 250ms;
}

@media (max-width: 1260px) {
    footer section nav section ul li {
        display: block;
    }

    footer > img {
        margin: 30px auto;
    }

    footer section {
        width: 970px;
    }
}

@media (max-width: 992px) {
    footer > img {
        width: 90px;
    }

    footer section {
        width: 730px;
    }
}

@media (max-width: 748px) {
    footer {
        font-size: 0.6rem;
    }

    footer > img {
        width: 80px;
    }

    footer section {
        width: 380px;
    }

    footer > section > aside:nth-child(3) {
        clear: both;
    }
}

@media (max-width: 395px) {
    footer section {
        width: 280px;
    }
}

@media (max-width: 295px) {
    footer section {
        width: 180px;
    }
}

@media (max-width: 195px) {
    footer section {
        width: 100px;
    }
}

@media (max-width: 115px) {
    footer section {
        width: 50px;
    }
}

@media (max-width: 90px) {
    footer section {
        width: 25px;
    }

    footer > img {
        width: 50px;
    }

    footer {
        font-size: 0.44rem;
    }
}

@media (max-width: 65px) {
    footer section {
        width: 10px;
    }

    footer > img {
        width: 50px;
    }

    footer {
        font-size: 0.33rem;
    }
}
