:root {
    --hauptfarbe-header: #38ada9;
    --ramen-header: #444;
    --hover-header: #2262AD;
    --background-header: #fff;

    --domain-background: #fafafa;

    --font-footer: #949499;
    --background-footer: #fff;
    --topborder-footer: #949499;
    --socialicon-footer: 0.4;
    --socialicon-hover-footer: 0.2;
    --logofilter-footer: grayscale(50%);
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23e2e9f1' fill-opacity='0.3' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

header {
    background: var(--background-header);
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px solid var(--hauptfarbe-header);
    z-index: 100;
    -moz-user-select: none;
    user-select: none;
}

header img {
    margin: 20px;
    float: left;
    height: 40px;
    width: auto;
    display: block;
}

header nav {
    float: right;
    padding: 20px;
}

header nav:nth-child(2) > a:nth-child(1) {
    display: hidden;
    width: 40px;
    height: 40px;
    background: var(--hauptfarbe-header) url(./icon/menu-icon.png) center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    float: left;
    padding: 10px
}

header nav ul li a {
    color: var(--hauptfarbe-header);
    text-decoration: none;
    font-weight: bold;
    transition: all 250ms;
}

header nav ul li a:hover {
    color: var(--hover-header);
}
body article {
  margin-top: 76px;
}

article {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
article section {
	max-width: 100%;
	margin-bottom: 6px;
	margin-top: 6px;
}

article section#domains {
	width: 470px;
}

article section#domains section {
	border: 1px solid #bebebe;
	background: var(--domain-background);
	margin-bottom: 10px;
}
article section#domains section div {
	padding: 5px;
}

article section#domains section div.header {
	padding: 8px 0 12px 18px;
	width: inherit;
	background-color: #38ada9;
	color: #fff;
}

article section#domains section div.header h1 {
	font-size: 1.4rem;
}

article section#domains section div.header h1 a {
	color: #fff;
}

article section#domains section div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

article section#domains section div span.header_item,
article section#main_section div span.backup_item,
article section#main_section details,
span.list_element {
	margin: 6px 27px 0 17px;
}

article section#domains section div.third_header span.header_item {
	margin-right: 0;
}

article section#main {
	width: 1000px;
}

article section#databases {
	width: 300px;
}

a {
	text-decoration: none;
	color: #38ada9;
}

.prohibited_link {
	color: #224545;
	cursor: no-drop;
	transition: all 500ms ease-in-out;
}

.prohibited_link:hover {
	text-decoration: line-through;
}

form {
	padding: 19px;
	background-color: #7ed6df;
	border-radius: 1.5px;
	max-width: max-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form.unset {
	padding: 0;
	background-color: unset;
	border-radius: unset;
	display: unset;
	margin: 0;
}

form.db_logout {
	position: relative;
	top: -55px;
	left: 95px;
}

form#newsubdomain {
	max-width: 100%;
}

label {
	display: block;
}

label[for="inputRedirect"] {
	cursor: pointer;
}

input,
button {
	padding: 8px 6px 8px 4px;
	border: 2px solid #95afc0;
	border-radius: 1.5px;
	margin: 5px;
}
input[type=text],
input[type=email] {
	width: 100%;
}

button {
	border: none;
	border-radius: 1px;
	background-color: #fafafa;
	color: #323232;
	cursor: pointer;
	font-size: 1.1rem;
}

code {
	color: #fff;
	font-family: Source Code Pro, Consolas, Inconsolata-g, Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #272822;
	border: solid 0.5px #272822;
	border-radius: 1px;
	display: block;
	padding: 5px 5px 5px 5px;
}

details.database_details form input {
	width: unset;
}

details.database_details,
details.config_password_details {
	color: #38ada9;
	cursor: pointer;
}

details.database_details summary,
details.config_password_details summary {
	margin-bottom: 8px;
}

details.database_details form:first-of-type,
details.config_password_details form {
	padding: 12px;
}

.message {
    margin: 15px 10px;;
    padding: 10px;
    background-color: #3f7878;
    color: #ffffff;
    border-radius: 1.5px;
		font-size: 1.3rem;
		max-width: max-content;
}

footer {
    font-size: 0.777rem;
    color: var(--font-footer);
    line-height: 1.4;
    position: relative;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: var(--background-footer);
    border-top: 4px solid var(--topborder-footer);
}

footer > img {
    filter: var(--logofilter-footer);
    display: block;
    max-height: 100px;
    margin: 30px auto;
    max-width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
}

footer section {
    margin-right: auto;
    margin-left: auto;
    padding-left;
    15px;
    padding-right: 15px;
    max-width: 1230px;
}

footer > section > aside {
    text-align: right;
}

footer > section > aside img {
    opacity: var(--socialicon-footer);
}

footer > section > aside img:hover {
    opacity: var(--socialicon-header-footer);
}

footer > section > nav {
    margin-left: -15px;
    margin-right: -15px;
}

footer > section > aside:nth-child(3) {
    clear: both;
}

footer > section > aside:nth-child(3) > div {
    float: right;
    text-align: left;
}

footer > section > aside:nth-child(3) > address {
    float: left;
    text-align: right;
}

footer > section > nav > section {
    padding: 0;
    width: 41.66667%;
    float: left;
    position: relative;
    min-height: 1px;
}

footer > section > nav > section:nth-child(2) {
    padding: 0;
    width: 41.66667%;
    margin-left: 16.66667%;
    float: left;
    position: relative;
    text-align: right;
}

footer section aside address p {
    font-size: 0.8em;
}

footer section nav section ul {
    margin-left: 15px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

}

footer section nav section ul li {
    margin-right: 15px;
    margin-bottom: 0px;
    margin-bottom: 15px;
    font-size: 1em;
}

footer section nav section ul li a {
    font-weight: bold;
    font-size: 1.2em;
    transition: all 250ms;
}

@media (max-width: 1260px) {
    footer section nav section ul li {
        display: block;
    }

    footer > img {
        margin: 30px auto;
    }

    footer section {
        width: 970px;
    }
}

@media (max-width: 992px) {
    footer > img {
        width: 90px;
    }

    footer section {
        width: 730px;
    }
}

@media (max-width: 748px) {
    footer {
        font-size: 0.6rem;
    }

    footer > img {
        width: 80px;
    }

    footer section {
        width: 380px;
    }

    footer > section > aside:nth-child(3) {
        clear: both;
    }
}

@media only screen and (max-width: 640px) {
    header nav:nth-child(2) > a:nth-child(1) {
        display: inline-block;
    }

    header nav ul,
    header nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: var(--background-header);
        border: 5px solid var(--ramen-header);
        right: 20px;
        top: 60px;
        width: 50%;
        border-radius: 4px 0 4px 4px;
    }

    header nav ul li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    header nav:hover ul {
        display: block;
    }
}

@media (max-width: 395px) {
    footer section {
        width: 280px;
    }
}

@media only screen and (max-width: 320px) {
    header img {
        margin: 20px 10px;
        width: auto;
        max-height: 45px;
    }
}

@media only screen and (max-width: 300px) {
    header {
        height: 56px;
        border-bottom: 3px solid var(--hauptfarbe-header);
        font-size: 0.8rem
    }

    header img {
        margin: 20px 8px;
        width: auto;
        max-height: 50%;
    }

    header nav:nth-child(2) > a:nth-child(1) {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 295px) {
    footer section {
        width: 180px;
    }
}

@media (max-width: 195px) {
    footer section {
        width: 100px;
    }
}

@media only screen and (max-width: 175px) {
    header img {
        display: none;
    }

    header nav ul,
    header nav:active ul {
        padding: 10px;
        border: 3px solid var(--ramen-header);
        right: 3px;
        top: 50px;
        width: 50%;
        border-radius: 2px 0 2px 2px;

    }

    header nav ul li {
        padding: 5px 0;
    }
}

@media (max-width: 115px) {
    footer section {
        width: 50px;
    }
}

@media (max-width: 90px) {
    footer section {
        width: 25px;
    }

    footer > img {
        width: 50px;
    }

    footer {
        font-size: 0.44rem;
    }
}

@media only screen and (max-width: 85px) {
    header {
        font-size: 0.7rem
    }
}

@media (max-width: 65px) {
    footer section {
        width: 10px;
    }

    footer > img {
        width: 50px;
    }

    footer {
        font-size: 0.33rem;
    }
}
